body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* App.css */
.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 95px;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.logo img {
  width: 75px;
  height: 71px;
  margin-bottom: 17px;
  margin-left: 1px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav ul li {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav ul li a img {
  width: 40px;
  height: 40px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 75px; /* Добавляем отступ, чтобы учесть фиксированный sidebar */
}

nav ul li a:hover {
  background-color: #ddd;
}

h1 {
  font-size: 24px;
  color: #8B0000;
  margin-bottom: 20px;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.event-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: calc(33.333% - 20px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-item h2 {
  margin-top: 0;
  font-size: 18px;
  color: #333;
}

.event-item p {
  margin: 10px 0;
  color: #666;
}

.event-times {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
}

.event-times span {
  background-color: #f4f4f4;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 14px;
}

.edit-button {
  background-color: #8B0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #A52A2A;
}

.event-settings {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-settings-content {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  width: 90%;
  max-width: 1000px;
  position: relative;
}

.event-settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.event-settings-header h2 {
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.event-settings-header .close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}

.date-range {
  display: flex;
  gap: 10px;
}

form label {
  font-weight: bold;
  color: #8B0000;
}

form input, form select, .react-datepicker-wrapper {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

form input::placeholder {
  color: #999;
}

form button {
  background-color: #8B0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #A52A2A;
}

.event-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.event-table th, .event-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.event-table th {
  background-color: #f4f4f4;
}

.event-table td span {
  background-color: #f4f4f4;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 14px;
  display: inline-block;
  margin-right: 5px;
}

.event-table td button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Styles for Museum Selector */
.museum-selector {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.museum-selector-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.museum-selector-content .close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}

.museum-selector-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
  text-align: left;
}

.museum-selector-content ul li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.museum-selector-content ul li:hover {
  background-color: #f4f4f4;
}

.museum-selector-content ul li.selected {
  background-color: #8B0000;
  color: #fff;
}

.museum-selector-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.museum-selector-buttons button {
  background-color: #8B0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.museum-selector-buttons button:hover {
  background-color: #A52A2A;
}

.museum-selector-buttons button:first-child {
  background-color: #ddd;
  color: #333;
}

.museum-selector-buttons button:first-child:hover {
  background-color: #bbb;
}

.museum-selector-buttons button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}